* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: pink;
}

.wrapper {
    text-align: center; /* Center text and elements */
}

h2 {
    font-size: 3em;
    color: #dd1623;
}

.btn-group {
    margin-top: 50px;
}

button {
    width: 150px;
    height: 40px;
    font-size: 1.2em;
    margin: 0 10px; /* Space between buttons */
    color:red;
}
